.todo-main-container {
  width: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  min-height: 50vh;

  // .todo-container-header {
  //   height: 50vh;
  //   overflow: auto;
  // }

  .todo-container-header--titlemenu {
    display: flex;
    justify-content: space-between;
    svg {
      margin-top: -5px;
      font-size: 2em;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

}

.todo-button--delete, .todo-button--add {
  border: 0;
  cursor: pointer;
  color: #FF8E53;
}


.todo-form--add {
  align-self: flex-start;
  display: flex;

  .todo-textfield {
    width: 20vw;
    margin-right: 15px;
  }
  svg {
    font-size: 4em;
  }
}

.todo-list {
  li {
    list-style: none;
    button svg {
      font-size: 2em;
      margin-bottom: 5px;
    }
  }
  .todo-list-task {
    display: inline;
  }
  .todo-list-task--checked {
    text-decoration: line-through;
  }
}