@import './components/mainPage';
@import './components/generalTimer';
@import './components/timeUp';
@import './components/toDo';


* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}